<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/home">
                HOME
                </a>
            </li>
            <li>
                <a href="/about">
                ABOUT
                </a>
            </li>
            <li>
                <a  href="/works">
                WORK
                </a>
            </li>
            <li>
                <a href="/gallery">
                GALLERY
                </a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h1>
            ABOUT!
        </h1>

        <p>
            Jeffrey Lynn Goldblum (Pittsburgh, 22 de octubre de 1952), más conocido como Jeff Goldblum, es un actor y músico estadounidense. Su carrera comenzó a mediados de la década de 1970 y desde entonces se ha destacado en películas taquilleras como La mosca (1986), Parque Jurásico (1993), Independence Day (1996), El mundo perdido (1997), Jurassic World: El reino caído (2018), entre otras. Entre 2009 y 2010 interpretó al detective Zach Nichols en la serie Law & Order: Criminal Intent. En 1996 fue nominado a los Premios Óscar por su dirección en el cortometraje Little Surprises.
        </p>

        <img src="/meme2.jpg" alt="">
    </section>
</main>
    
</body>
</html>