<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/home">
                HOME
                </a>
            </li>
            <li>
                <a href="/about">
                ABOUT
                </a>
            </li>
            <li>
                <a  href="/works">
                WORK
                </a>
            </li>
            <li>
                <a href="/gallery">
                GALLERY
                </a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h1>
            WORKS
        </h1>

        <p>
           here are some of the works 
        </p>

        <div id="film-container">
            <div class="film">
            <img src="/Jurassic_Park_poster.jpg" alt ="">
            <h3>
                Jurassic Park
            </h3>
           
        </div>
        <div class="film">
            <img src="/mosca.jpg" alt ="">
            <h3>
                The Fly
            </h3>
           
        </div>
        <div class="film">
            <img src="/indepen.jpg" alt ="">
            <h3>
                Independence Day
            </h3>
           
        </div>
    </div>
    </section>
</main>
    
</body>
</html>